body
{
   font-family:Times New Roman;
   
}
 body {
           
        }
.headline
{
    text-align: center;
    
  
    }
    h2 {
    
}
h1
{
    text-shadow: 2px 2px 0 #ccc;
   font-size:25px;
}
    